extends layout
block content

  link(rel='stylesheet', href='/stylesheets/main-styles.css')    
  link(href='/stylesheets/responsive.css', rel='stylesheet')
  link#bootstrap-css(href="/stylesheets/profile.css" rel="stylesheet")

  .limiter
    .container.emp-profile
      center.h3.title 
        b Create new event

      .container(style="width:75%")
        form(method="POST" action="/events" enctype='multipart/form-data')
          .form-group
            h5 Title
            input.form-control(name="titulo" placeholder="Title of your event")
          .form-group
            h5 Date
            input.form-control(name="data" placeholder="When is it happening?")
          .form-group
            h5 Place
            input.form-control(name="local" placeholder="Where is it happening?")
          .form-group
            h5 Starts at
            input.form-control(name="hinicio" placeholder="What time does it start?")
          .form-group
            h5 Ends at
            input.form-control(name="hfim" placeholder="What time should it end?")
          .form-group
            h5 Type
            input.form-control(name="tipo" placeholder="What is the type of your event?")
          .form-group
            h5 Description
            textarea.form-control(name="description" rows="3" placeholder="Brief description of this event")
          .form-group  
            h5 File
            input(type='file', name='sampleFile')
          center.col-sm-12
            br
            input.btn.btn-secondary(type='submit' value='Create new event')