extends layout
block content
  if(!authenticated)
    link(rel='stylesheet', href='/stylesheets/main-styles.css')    
    //- link(rel='stylesheet',href='/maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
          
    .slider-login.display-table.center-text
      h1.title.color-white.display-table-cell
        b Log In 
    // slider  
    head
      title Login 
  
  if(authenticated)
    p Welcome #{username}!