extends layout
block content
  if(!authenticated)
    link(rel='stylesheet', href='/stylesheets/main-styles.css')    
    //- link(rel='stylesheet',href='/maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
          
    .slider-login.display-table.center-text
      h1.title.color-white.display-table-cell
        b Log In 
    // slider  
    head
      title Login 
  
  if(authenticated)
    .container.emp-profile
      a(href="/events/export/exportevents") Export Events
      br
      a(href="/pubs/exportpubs") Export Publications
      br
      a(href='/evaluations/exportevals') Export Evaluations 

      br
      if(pathpubs)
        a(href=pathpubs download=pathpubs) Download file

      br
      br
      form(method="POST" action="/pubs/importpubs" enctype='multipart/form-data' )
          input(type='file', name="sampleFile")
          input.btn.btn-secondary(type='submit' value='Import Publications')
      br
      br
      form(method="POST" action="/events/importevents" enctype='multipart/form-data' )
          input(type='file', name="sampleFile")
          input.btn.btn-secondary(type='submit' value='Import Events')
      br
      br
      form(method="POST" action="/evaluations/importevals" enctype='multipart/form-data' )
          input(type='file', name="sampleFile")
          input.btn.btn-secondary(type='submit' value='Import Evaluations')
      br
      br